<app-navbar></app-navbar>
<div class="container" style="margin-bottom: 5%;"> 
    <div class="row" style="margin-top: 2%;">
        <div class="col-sm-6">
            <div class="tile22">
                <div class="subtitle" style="border-radius:1%;position: absolute;
                bottom: 0;
                left: 0;
                padding: 5%;background-color: white;
                width: fit-content;
                    ">
                    <p class="subtitle" style="font-size:12px;">80% of portfolio</p>
                    <h5 class="title" style="text-transform: capitalize;">Mining and earth <br> resources industry</h5>
                    <!-- <a href="#"><div class="btn shadow-0">View more</div> </a> -->
        
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tile122">
                <div class="subtitle" style="border-radius:1%;position: absolute;
                bottom: 0;
                left: 0;
                padding: 5%;background-color: white;
                width: fit-content;
                    ">
                    <small class="subtitle" style="font-size:12px;">10% of portfolio</small>
                    <p class="title" style="text-transform: capitalize;">Commercial real estate</p>
                    <!-- <a href="#"><div class="btn1 shadow-0">View more</div> </a> -->
        
                </div>
            </div>
            <div class="tile222">
                <div class="subtitle" style="border-radius:1%;position: absolute;
                bottom: 0;
                left: 0;
                padding: 5%;background-color: white;
                width: fit-content;
                    ">
                    <p class="subtitle" style="font-size:12px;">10% of portfolio</p>
                    <h5 class="title" style="text-transform: capitalize;">Retail business</h5>
                    <!-- <a href="#"><div class="btn1 shadow-0">View more</div> </a> -->
        
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>