<app-navbar></app-navbar>
<div class="row" style="margin-top: 6%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <div class="tracking-in-expand">
            <h1 class="subtitle">about us</h1>
            <h2 class="title">We are a Nairobi-based investment company that focuses on different sectors of the East African economy
            </h2>
        </div>
        
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="mosaics" style="margin-top:8%;">
    <div class="mosaic">
      <img class="mosimage" src="./../../../assets/pexels-christina-morillo-1181304.jpg" />
    </div>
     <div class="mosaic">
      <img class="mosimage" src="./../../../assets/pexels-fauxels-3182812.jpg" />
    </div>
     <div class="mosaic">
      <img class="mosimage" src="./../../../assets/pexels-fox-1595385.jpg" />
    </div> 
</div> 
<div class="row" style="margin-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-9"> 
        <h1 class="subtitle">Leadership</h1>
        <small class=" ">We are led by a team of competent indivuals who make up our senior management and team of company directors. Feel free to scroll through their different profiles below.
        </small>
        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" style="margin-top: 4%;" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
            <a
                class="nav-link active"
                id="ex1-tab-1"
                data-mdb-toggle="tab"
                href="#ex1-tabs-1"
                role="tab"
                aria-controls="ex1-tabs-1"
                aria-selected="true"
                >Directors</a
            >
            </li>
            <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="ex1-tab-2"
                data-mdb-toggle="tab"
                href="#ex1-tabs-2"
                role="tab"
                aria-controls="ex1-tabs-2"
                aria-selected="false"
                >Senior management</a
            >
            </li>
            <!-- <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="ex1-tab-3"
                data-mdb-toggle="tab"
                href="#ex1-tabs-3"
                role="tab"
                aria-controls="ex1-tabs-3"
                aria-selected="false"
                >Tab 3</a
            >
            </li> -->
        </ul>
        <!-- Tabs navs -->
        
        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div
            class="tab-pane fade show active"
            id="ex1-tabs-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
            >

                
            <div class="row" style="margin-top:8%;margin-bottom:8%;">
                <div class="col-sm-4">
                    <a href="">
                    <img class="mosimage" src="https://image.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg" />
                    <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                    <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Financial Officer</p>
                </a>
                </div>
                <div class="col-sm-4">
                    <a href="">
                    <img class="mosimage" src="https://image.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg" />
                    <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                    <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Information Officer</p>
                </a>
                </div>
                <div class="col-sm-4">
                    <a href="">
                    <img class="mosimage" src="https://img.freepik.com/free-photo/portrait-handsome-young-man-makes-okay-gesture-demonstrates-agreement-likes-idea-smiles-happily-wears-optical-glasses-yellow-hat-t-shirt-models-indoor-its-fine-thank-you-hand-sign_273609-30676.jpg?size=626&ext=jpg" />
                    <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                    <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Managing Director </p> 
                </a>
                </div>
            </div>

            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                
                <div class="row" style="margin-top:8%;">
                    <div class="col-sm-4">
                        <a href="" style="color: var(--dark);">
                            <img class="mosimage" src="https://img.freepik.com/free-photo/portrait-handsome-young-man-makes-okay-gesture-demonstrates-agreement-likes-idea-smiles-happily-wears-optical-glasses-yellow-hat-t-shirt-models-indoor-its-fine-thank-you-hand-sign_273609-30676.jpg?size=626&ext=jpg" />
                            <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;">Karan Singh</h2>
                            <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Managing Director </p> 
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://image.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Financial Officer</p>
                    </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://image.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Information Officer</p>
                    </a>
                    </div>
                </div>
                <div class="row" style="margin-top:8%;">
                    <div class="col-sm-4">
                        <a href="">
                            <img class="mosimage" src="https://image.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg" />
                            <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                            <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Information Officer</p>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://img.freepik.com/free-photo/portrait-handsome-young-man-makes-okay-gesture-demonstrates-agreement-likes-idea-smiles-happily-wears-optical-glasses-yellow-hat-t-shirt-models-indoor-its-fine-thank-you-hand-sign_273609-30676.jpg?size=626&ext=jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Managing Director </p> 
                    </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://image.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Financial Officer</p>
                    </a>
                    </div>
                </div>
                <div class="row" style="margin-top:8%;margin-bottom:8%;">
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://image.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Financial Officer</p>
                    </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://image.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Information Officer</p>
                    </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="">
                        <img class="mosimage" src="https://img.freepik.com/free-photo/portrait-handsome-young-man-makes-okay-gesture-demonstrates-agreement-likes-idea-smiles-happily-wears-optical-glasses-yellow-hat-t-shirt-models-indoor-its-fine-thank-you-hand-sign_273609-30676.jpg?size=626&ext=jpg" />
                        <h2 class="subtitle" style="margin-top: 4%;font-weight: bold;color: var(--dark);">Karan Singh</h2>
                        <p style="font-size: 12px;letter-spacing: 1px;color: var(--medium);">Managing Director </p> 
                    </a>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            Tab 3 content
            </div>
        </div>
        <!-- Tabs content -->
    </div>
    <div class="col-sm-2"></div>
</div>

<app-footer></app-footer>