<app-navbar></app-navbar>
<div class="row" style="margin-top: 4%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-6" style="background: url(./../../../assets/pexels-rfstudio-3811082.jpg);
                    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    " > 
    </div>
    <div class="col-sm-4">
        <div style="padding: 4%;">
            <p><small class="subtitle">TECH & INNOVATION - <span style="font-size: 10px;">July 24, 2021</span></small></p>
            <h4 class="title">Interview - Our commitment to low cost tehnological advancement</h4>
            <p style="letter-spacing:1px;margin-top: 4%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem pariatur neque molestias aut placeat illo, dolor nemo laboriosam quasi asperiores, deleniti odio. Asperiores voluptatem libero consectetur ipsum recusandae eius repudiandae.</p>
            <a href="#" style="text-decoration: underline;color: var(--medium);"><small>View more</small></a>

        </div>
    </div>
    <div class="col-sm-1">
</div>
<div class="row" style="margin-top: 8%;margin-bottom: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <div class="card shadow-0">
            <img src="./../../../assets/matthew-lejune-kzRv7BRDSwQ-unsplash.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body"> <p><small class="subtitle">INVESTMENT NEWS - <span style="font-size: 10px;">July 24, 2021</span></small></p>
              <h4 class="title">How Barclays is affecting trading in the NSE</h4>
              <p style="letter-spacing:1px;margin-top: 4%;">Lorem ipsum dolor sit ame  placeat illo, dolor nemo laboriosam quasi asperiores, deleniti odio. Asperiores voluptatem libero consectetur ipsum recusandae eius repudiandae.</p>
              <a href="#" style="text-decoration: underline;color: var(--medium);"><small>View more</small></a>
  
            </div>
          </div>
    </div> 
    <div class="col-sm-5">
        <div class="card shadow-0">
            <img src="./../../../assets/rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body"> <p><small class="subtitle">INSIGHTS - <span style="font-size: 10px;">July 24, 2021</span></small></p>
              <h4 class="title">Cashless systems in Kenya and how we invest in them</h4>
              <p style="letter-spacing:1px;margin-top: 4%;">Lorem ipsum dolor sit ame  placeat illo, dolor nemo laboriosam quasi asperiores, deleniti odio. Asperiores voluptatem libero consectetur ipsum recusandae eius repudiandae.</p>
              <a href="#" style="text-decoration: underline;color: var(--medium);"><small>View more</small></a>
  
            </div>
          </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<app-footer></app-footer>