<app-navbar></app-navbar>
<div class="row" style="margin-top: 6%;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align: center;">
        <h1 class="title" >Join us at Gathoni Muchai!</h1>
        <p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsum animi optio porro velit a recusandae quidem nulla voluptatibus omnis dolor incidunt nisi quia, officia odit provident ipsa aliquam repellat!</small></p>
        <div style="margin-top: 5%;margin-bottom: 5%;">
            <p class="subtitle">No openings at the moment</p>
            <img src="./../../../assets/undraw_no_data_re_kwbl.svg" style="height: 30vh;" alt="">
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<app-footer></app-footer>